
{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
    	{# If the field published_date is populated #}
        {% if post.published_date %}  
            <div class="date">
                {{ post.published_date }}
                {# Ensures only I can edit/delete a post #}
                {% if user.is_authenticated %}
                	<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                	<a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                {% endif %}
            </div>
        {% else %}
        	{# If there's no pub date, add a publish button, for link from list of draft posts #}
        	<a class="btn btn-default" href="{% url 'blog.views.post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
        {# Add a button to edit the post, pencil image #}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
    <hr>
    {# button for add comment #}
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
	{% for comment in post.comments.all %}
    <div class="comment">
		<div class="date">
			{{ comment.created_date }}
			{% if not comment.approved_comment %}
				<a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
				<a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
			{% endif %}
		</div>
		<strong>{{ comment.author }}</strong>
		<p>{{ comment.text|linebreaks }}</p>
	</div>
	{% empty %}
    	<p>No comments here yet :(</p>
	{% endfor %}
{% endblock %}