
{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
    	{# If the field published_date is populated #}
        {% if post.published_date %}  
            <div class="date">
                {{ post.published_date }}
                {# Ensures only I can edit a post #}
                {% if user.is_authenticated %}
                	<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                {% endif %}
            </div>
        {% endif %}
        {# Add a button to edit the post, pencil image #}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
{% endblock %}